## Series from list

In [1]:
import numpy as np 
import pandas as pd

In [ ]:
# lets create a series in string
country = ["india","nepal","sirlanka","bhutan","bangaladesh"]
pd.Series(country)
# from pandas.Series we get the same list as a series where  i get a indexing and values names along with it

0          india
1          nepal
2       sirlanka
3         bhutan
4    bangaladesh
dtype: str

In [7]:
# lets create a series in integer
runs = [10,45,78,100,274]
pd.Series(runs)

0     10
1     45
2     78
3    100
4    274
dtype: int64

In [8]:
# lets create a user defined indexing for the series 
marks = [90,98,97,99,100] # this is the marks of the some subjects
subjects = ['math','science','hindi','sst','english']

# now we want ki ham subject ko as a index le and marks ko as a vlaues
pd.Series(marks, index=subjects) # ham explicitlly subejcts ko index bana rahe hai

math        90
science     98
hindi       97
sst         99
english    100
dtype: int64

In [ ]:
# we can store the all this in a variables
mark =pd.Series(marks, index=subjects, name='Ujjwal ke marks') # we can store marks in it also and print it 
mark # after writting the logic in an varibale we can print it also just wile writing the name
# print(mark)

math        90
science     98
hindi       97
sst         99
english    100
Name: Ujjwal ke marks, dtype: int64

## Series By using dict

In [15]:
# lets make the series while using the dictionary
marks = {
    'science' : 100,
    'english' : 90,
    'sst' : 98,
    'hindi' : 90,
    'math' : 100
} # here we create same data as the above

marks_series = pd.Series(marks, name="Ujjwal ke marks")
marks_series

science    100
english     90
sst         98
hindi       90
math       100
Name: Ujjwal ke marks, dtype: int64

## Series Attributes

In [ ]:
# Size = give the size of the objects 
marks_series.size # it give 5 answer

5

In [ ]:
# dtype = gives the data type of the objects
marks_series.dtype # because our value is interger typeby

dtype('int64')

In [20]:
# name
marks_series.name # it give the name of the object
type(marks_series)

pandas.Series