## Series with read_csv

In [4]:
import numpy as np
import pandas as pd

### with one coloumn

In [ ]:
# importing the subs.csv // comma seperated values 
pd.read_csv('subs.csv') # here we give the path of the file 

# in pandas we have two types of data 
# series and
# pandas
# toh normally the mthod read_csv store the data ina dataframe
# if want explicitly ki ham data ko change kare series me then hame file path ke badd comma deke squeeze= True dena hoga

# pd.read_csv('subs.csv', squeeze= 1) ab ye parameter me dena hat gaya

data_csv = pd.read_csv('subs.csv')
data_csv.squeeze  #isse ham dataframe ko series me convert kar liya /
# we can also see ki ham table ka naam bhi dekh sakte hai

<bound method NDFrame.squeeze of      Subscribers gained
0                    48
1                    57
2                    40
3                    43
4                    44
..                  ...
360                 231
361                 226
362                 155
363                 144
364                 172

[365 rows x 1 columns]>

In [20]:
# here we see ki ham 2 coloum  wale csv file ko kaisse read karte hai
# because we have to use the squeeze method so we have ti store it in the varibales
data_kholi = pd.read_csv('kohli_ipl.csv', index_col='match_no')['runs'] # we can make the one coloumn in the series , just we have to write it in the array
# just like the above 
data_kholi.squeeze

<bound method NDFrame.squeeze of match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64>

In [22]:
# now we load the third file
films = pd.read_csv("bollywood.csv",index_col="movie")
films.squeeze # if we do not write squeeze then the read_csv make its a dataframe
# and if we write the squeeze then the data frame becomes series

<bound method NDFrame.squeeze of                                                   lead
movie
Uri: The Surgical Strike                 Vicky Kaushal
Battalion 609                              Vicky Ahuja
The Accidental Prime Minister (film)       Anupam Kher
Why Cheat India                          Emraan Hashmi
Evening Shadows                       Mona Ambegaonkar
...                                                ...
Hum Tumhare Hain Sanam                  Shah Rukh Khan
Aankhen (2002 film)                   Amitabh Bachchan
Saathiya (film)                           Vivek Oberoi
Company (film)                              Ajay Devgn
Awara Paagal Deewana                      Akshay Kumar

[1500 rows x 1 columns]>

## head and tail method

In [41]:
# head
# when we want preview of top 5 elements or custom top elements
films.head()
films.head(7) # we can pass the number of elements we want

# tail
# when we want ki ham last ke 5 elements preview kare ya custom
films.tail()
films.tail(10) # by passing values we can see only 60 values only

                                        lead
movie
Raaz (2002 film)                  Dino Morea
Zameen (2003 film)                Ajay Devgn
Waisa Bhi Hota Hai Part II      Arshad Warsi
Devdas (2002 Hindi film)      Shah Rukh Khan
Kaante                      Amitabh Bachchan
Hum Tumhare Hain Sanam        Shah Rukh Khan
Aankhen (2002 film)         Amitabh Bachchan
Saathiya (film)                 Vivek Oberoi
Company (film)                    Ajay Devgn
Awara Paagal Deewana            Akshay Kumar

## Sample Mthod

In [44]:
# sample gives us the random 1 row from the table and it is comletly random like har baar same code ko chalane ke koi dusra hi row deta hai
films.sample()
# we can file custom sample file also by just passing ki hame kitna sample row chaiye
films.sample(4)

                                   lead
movie
Manmarziyaan              Taapsee Pannu
Jimmy (2008 film)     Mimoh Chakraborty
Dil Bechara        Sushant Singh Rajput
Veerey Ki Wedding         Pulkit Samrat

## value_count Method

In [ ]:
# value_count() gives the frequency of a vlaues in the table
# like koi vlaue kitni baar table me aa rha hai
films.value_counts() # in the decending order

lead
Akshay Kumar        48
Amitabh Bachchan    45
Ajay Devgn          38
Salman Khan         31
Sanjay Dutt         26
                    ..
Tanishaa Mukerji     1
Tanuja               1
Ankit                1
Rakhee Gulzar        1
Edwin Fernandes      1
Name: count, Length: 566, dtype: int64

## sort_vlaues

In [61]:
# here we see how we can find the values in sorted order
data_kholi.sort_values() # by defalut ye hame ek acending order deta hau with the vlaues

# if we want ki ham decending me sort kare tho
data_kholi.sort_values(ascending=False)

# now if we want ki ham top ka vlaue hi dekhe
data_kholi.sort_values(ascending=False).head(1)

# now if we want ki ham bass runs ko hi dekhe
data_kholi.sort_values(ascending=False).head(1).values

# now if we want ki ham bass ek number ko hi dekhe toh na ki array ko
data_kholi.sort_values(ascending=False).head(1).values[0].item()

113

In [65]:
# we can change the original table with the help of sort_vlaues -> ander -> inplace=True isse ham sirf ek preview nahi dekhte balki original vlaues ko change kar skate hai

data_kholi.sort_values(inplace=True) # isse kuch output nahi aayega baliki original vlaues change ho jayega

data_kholi

match_no
8        0
87       0
93       0
91       0
206      0
      ...
164    100
120    100
123    108
126    109
128    113
Name: runs, Length: 215, dtype: int64

## sort_index() mathod is used to sort the index

In [68]:
# let sort the movies ka index -> means movies ka name with the accending order to the alphabets
films.sort_index() # ye hamsha hame  digit -> a -> z deta hai for strings

# we can use inplace for fixing the same sorting in the main table
films.sort_index(inplace=True)
films

                                        lead
movie
1920 (film)                 Rajniesh Duggall
1920: London                   Sharman Joshi
1920: The Evil Returns           Vicky Ahuja
1971 (2007 film)              Manoj Bajpayee
2 States (2014 film)            Arjun Kapoor
...                                      ...
Zindagi 50-50                    Veena Malik
Zindagi Na Milegi Dobara      Hrithik Roshan
Zindagi Tere Naam         Mithun Chakraborty
Zokkomon                     Darsheel Safary
Zor Lagaa Ke...Haiya!          Meghan Jadhav

[1500 rows x 1 columns]